.addressIndex {
  width: 100%;
  &__content {
    width: 60%;
    margin: 0 auto;
    &__title {
      padding: 20px 0 50px 70px;
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      margin: 0 auto;
    }
    &__details {
      width: 100%;
      &__postCode {
        padding-bottom: 10px;
      }
      &__address {
        padding-bottom: 10px;
      }
      &__receiver {
        padding-bottom: 10px;
      }
    }
    &__edit {
      display: flex;
      width: 70%;
      text-align: center;
      padding-top: 25px;
      &__modify {
        width: 50%;
      }
      &__modify:hover {
        opacity: 0.7;
      }
      &__delete {
        width: 50%;
      }
      &__delete:hover {
        opacity: 0.7;
      }
    }
    &__nothing {
      padding-top: 50px;
      width: 100%;
      padding-left: 90px;
    }
  }
}

.addressForm {
  width: 100%;
  &__content {
    width: 60%;
    margin: 0 auto;
    &__title {
      padding: 20px 0 20px 100px;
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      margin: 0 auto;
    }
  }
}
.flex {
  display: flex;
  padding: 9px;
}
.must_check {
  background-color: rgb(230, 67, 67);
  margin-left: 5px;
  border-radius: 1px;
  color: $background-color;
  font-size: 11px;
}
.fieldForm {
  padding-top: 4px;
}
.addressCategory {
  padding-top: 20px;
}
.addressForm__content__submit{
  text-align: center;
  width: 100%;
  padding-top: 27px;
  &__btn {
  padding: 2px 4px;
  border-radius: 3px;
  width: 90%;
  }
}
.addressForm__content__post__input {
  width: 173px;
}