
//カード登録ページ
.cardNew {
  width: 100%;
}
.title {
  padding: 20px 40px;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}
.cardForm {
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;
  &__number {
    padding-bottom: 10px;
  }
  &__field {
    padding-bottom: 10px;
  }
  &__expirationdate {
    padding-top: 20px;
    &__details {
      padding-bottom: 10px;
    }
    &__choice__month {
      padding-bottom: 20px;
    }
  }
  &__securitycode {
    padding-top: 20px;
    &__details__title {
      padding-bottom: 10px;
    }
    &__details__hatena {
      padding-top: 7px;
      &__link {
        font-size: 0.8em;
      }
    }
  }
}
#card_token {
  padding-top: 40px;
}
#token_submit {
  width: 100%;
  background: rgb(230, 67, 67);
  border: none;
  color: $background-color;
  height: 50px;
}
.cvc {
  width: 100%;
  height: 40px;
  border-radius: 3px;
}
#exp_month,
#exp_year {
  width: 40%;
  height: 40px;
  border-radius: 3px;
}
.must_check {
  background-color: rgb(230, 67, 67);
  padding: 2px 4px;
  border-radius: 2px;
  color: $background-color;
  font-size: 12px;
}
.form-group__input {
  width: 100%;
  height: 40px;
  border-radius: 3px;
}

//登録カード確認ページ
.payment {
  width: 100%;
  &__content {
    width: 60%;
    margin: 0 auto;
    &__title {
      padding: 20px 40px;
      font-weight: bold;
      font-size: 20px;
      width: 100%;
      margin: 0 auto;
    }
    &__box {
      padding-top: 10px;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      &__cardImage {
        padding-top: 30px;
        padding-left: 40px;
      }
      &__details {
        padding-left: 30px;
        &__cardNumber {
          padding-top: 20px;
        }
        &__cardMMYY {
          padding-top: 10px;
        }
      }
    }
  }
  &__cardDelete {
    width: 50%;
    margin: 0 auto;
    padding: 50px 0 0 40px;
    &__deleteBtn {
      border-radius: 2px;
      padding: 4px;
    }
    &__deleteBtn:hover {
      opacity: 0.7;
    }
  }
}