.cart {
  width: 100%;
  &__content {
    width: 800px;
    margin: 0 auto;
    margin-top: 200px;
    &__title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 50px;
    }
    &__nothing {
      text-align: center;
      font-size: 15px;
      margin-bottom: 310px;
    }
    &__message {
      font-size: 15px;
      margin-bottom: 10px;
      color: $base-font-color;
    }
    &__total {
      color: $base-font-color;
      text-align: right;
      margin-top: 40px;
      padding-bottom: 7px;
      font-size: 20px;
      font-weight: bold;
      border-bottom: solid 1px rgb(63, 63, 63);
    }
    &__options {
      margin-bottom: 40px;
      text-align: center;
      font-size: 15px;
      &__link {
        text-align: center;
        margin: 0 20px;
        padding-bottom: 5px;
        border-bottom: solid 1px rgb(63, 63, 63);
      }
      &__link:hover {
        opacity: 0.7;
      }
    }
  }
}

table {
  width: 100%;
}

th,
td {
  text-align: center;
  font-size: 15px;
}