.notification {
  padding-top: 140px;
  .notice {
    background-color: $flash-color;
    color: $background-color;
    text-align: center;
  }
  .alert {
    background-color: $flash-color;
    color: $background-color;
    text-align: center;
  }
}