$white: #fff;
$black: #434a54;

.notification {
  .notice {
    background-color: $black;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $black;
    color: $white;
    text-align: center;
  }
}