 .footer {
  width: 100%;
  margin-top: 100px;
  background-color: $base-font-color;
  position: bottom;
  &__menu {
    height: 200px;
    display: flex;
    padding: 30px 30px;
    &__list {
      color: $background-color;
      margin: 0 10px;
    }
  }
}