.newOrder{
  width: 100%;
  color: $base-font-color;
  &__content {
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 50px;
      font-weight: bold;
      color: $base-font-color;
      font-weight: bold;
    }
    &__order {
      width: 100%;
      padding-top: 10px;
      height: 50px;
      &__btn {
        display: block;
        width: 60%;
        margin: 0 auto;
        border-style: none;
        background-color: $base-font-color;
        line-height: 50px;
        text-align: center;
        color: $background-color;
        font-weight: bold;
      }
    }
    &__middleBox {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      &__right {
        width: 50%;
        &__addressIndex {
          width: 100%;
          &__content {
            width: 60%;
            margin: 0 auto;
            &__title {
              font-size: 20px;
              width: 100%;
              margin: 0 auto;
              text-align: center;
              padding-bottom: 35px;
            }
            &__details {
              width: 100%;
              &__postCode {
                padding-bottom: 10px;
                font-size: 1.05em;
              }
              &__address {
                padding-bottom: 10px;
              }
              &__receiver {
                padding-bottom: 10px;
              }
            }
            &__edit {
              width: 70%;
              margin: 0 auto;
              text-align: center;
              padding-top: 30px;
              border-bottom: 1px solid $base-font-color;
            }
            &__edit:hover {
              opacity: 0.8;
            }
            &__nothing {
              text-align: center;
            }
          }
        }
      }
      &__left {
        width: 50%;
        &__payment {
          width: 100%;
          &__content {
            width: 90%;
            margin: 0 auto;
            &__title {
              font-size: 20px;
              width: 100%;
              margin: 0 auto;
              text-align: center;
              padding-bottom: 20px;
            }
            &__box {
              padding-top: 10px;
              &__cardImage {
                text-align: center;
                padding-bottom: 5px;
              }
              &__details {
                padding: 10px;
                text-align: center;
              }
            }
            &__change {
              width: 50%;
              margin: 0 auto;
              text-align: center;
              padding-top: 20px;
              border-bottom: 1px solid $base-font-color;
            }
            &__submit {
              padding-top: 15px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
.orderTitle {
  font-size: 20px;
  padding-bottom: 15px;
}