//home.<start>
.main {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $background-color;
  overflow: scroll;
  &__top-img {
    background-image: image-url("home-top.jpg");
    background-size: cover;
    width: 80%;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  &__concept {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    &__title {
      font-size: 50px;
      font-family: 'Bebas Neue', cursive;
      color: $base-font-color;
      &__description {
        font-size: 15px;
        margin-top: 20px;
        color: $base-font-color;
      }
    }
  }
  &__link-index {
    width: 80%;
    text-align: center;
    margin: 40px auto;
    &__link {
      font-size: 18px;
      border-radius: 40px;
      background-color: $base-font-color;
      color: $background-color;
      padding: 5px 50px;
      display: block;
      margin: 30px auto;
      width: 300px;
      font-weight: bold;
    }
    &__link:hover {
      opacity: 0.8;
    }
  }
  &__items {
    width: 80%;
    text-align: center;
    margin: 40px auto;
    &__new {
      font-size: 50px;
      color: $base-font-color;
      font-family: 'Bebas Neue', cursive;
      margin-top: 70px;
      margin-bottom: 20px;
    }
   }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-wrapper {
  display: flex;
}
//home.<end>

//index.<start>
.index-contents {
  width: 100%;
  &__selectTab {
    margin: 50px auto;
    width: 80%;
    &__selectCategory {
      display: flex;
      width: 90%;
      margin: 0 auto;
      padding-bottom: 20px;
      &__list {
        width: 33.33%;
        &__tag {
        padding: 4px 0;
        text-align: center;
        }
      }
    }
    &__selectBtn {
      padding-top: 20px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      background-color: $background-color;
      color: $base-font-color;
      &__btn {
        color: $background-color;
        background-color: $base-font-color;
        border-style: none;
        width: 20%;
        padding: 10px;
        font-size: 0.9em;
      }
    }
  }
  &__topicPath {
    margin: 0 auto;
    width: 70%;
    color: $base-font-color;
  }
  &__amountProducts {
    width: 70%;
    margin: 0 auto;
    color: $base-font-color;
  }
  &__main {
    width: 100%;
    &__categoryList {
      width: 80%;
      margin: 0 auto;
      &__innerList {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 100%;
        &__innerBox {
          width: 25%;
          margin: 15px 0;
          &__image {
            text-align: center;
          }
          &__image:hover {
            opacity: 0.6;
          }
          &__detail {
            text-align: center;
            padding: 0 20px;
            overflow: hidden;
            margin: 8px;
            &__name {
              margin-bottom: 4px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
select {
  background-color: #fff;
  width: 250px;
  color: $base-font-color;
}
//index.<end>

//show.<start>
.showMain {
  width: 100%;
  color: $base-font-color;
  &__topicPath {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
  }
  &__Boxes {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
    &__leftBox {
      width: 40%;
      text-align: right;
    }
    &__rightBox {
      width: 60%;
      text-align: left;
      padding-top: 60px;
      margin-left: 20px;
      &__name {
        font-size: 28px;
        font-weight: bold;
        text-align: left;
      }
      &__namejap {
        text-align: left;
      }
      &__description {
        width: 75%;
        padding-top: 20px;
      }
      &__orderQuantity {
        padding-top: 30px;
        width: 100%;
        &__title {
          padding-right: 10px;
        }
        &__form {
          width: 18%;
        }
      }
      &__line {
        display: flex;
        padding-top: 30px;
        width: 70%;
        &__price {
          font-weight: bold;
          font-size: 19px;
        }
        &__fav{
          margin-left: 30px;
          padding-top: 5px;
          &__btn {
            border-style: none;
            font-size: 1.2em;
            background-color: #fff;
          }
        }
      }
      &__addCart {
        height: 40px;
        &__btn {
          background-color: rgb(41, 41, 41);
          color: #fff;
          font-size: 1.1em;
          border-style: none;
          display: block;
          line-height: 40px;
          width: 70%;
        }
        &__btn:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__suggest {
    width: 80%;
    margin: 0 auto;
    &__items {
      font-size: 20px;
      padding-top: 20px;
      padding-left: 7px;
      border-top: solid 1px rgb(188, 188, 188);
      margin: 20px 0 40px;
      color: $base-font-color;
    }
    &__contents {
      width: 100%;
      padding-top: 30px;
      &__box {
        display: flex;
        width: 80%;
        margin: 0 auto;
        &__each {
          width: 25%;
        }
      }
    }
  }
}
.star {
  color: rgb(30, 64, 255);
}
//show.<end>

.fas
.far {
  padding-left: 4px;
}