.login{
  padding-top: 40px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  color: $base-font-color;
  &__title {
    margin: 20px 0;
    font-size: 21px;
    font-weight: bold;
  }
}

.signup {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  color: $base-font-color;
  &__title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
  }
}

.editUser {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  color: $base-font-color;
  &__title {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
  }
}

.field {
  margin: 20px 0;
}

.actions {
  margin-bottom: 20px;
}

//show
.myPage {
  width: 100%;
  &__content {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      color: $base-font-color;
    }
    &__box {
      width: 80%;
      margin: 0 auto;
      display: flex;
      &__left{
        width: 25%;
        &__menu {
          padding-top: 20px;
          padding-left: 5px;
          margin-bottom: 40px;
          &__list {
            font-size: 15px;
            padding-top: 27px;
            padding-left: 5px;
            border-bottom: solid 1px rgb(120, 120, 120);
          }
        }
      }
      &__right {
        width: 75%;
        &__message {
          width: 50%;
          margin: 0 auto;
          padding-top: 60px;
          font-size: 1.1em;
        }
      }
    }
  }
}