$base-font-color: rgb(51, 51, 51);
$background-color: #fff;

 .footer {
  width: 100%;
  margin-top: 100px;
  background-color: $base-font-color;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  &__menu {
    height: 200px;
    display: flex;
    padding: 30px 30px;
    &__list {
      color: $background-color;
      margin: 0 10px;
    }
  }
}