// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 $base-font-color: rgb(51, 51, 51);
 $background-color: #fff;

  //home.<start>
.main {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $background-color;
  overflow: scroll;
  &__top-img {
    background-image: image-url("home-top.jpg");
    background-size: cover;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 70px;
  }
  &__concept {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    &__title {
      font-size: 50px;
      font-family: 'Bebas Neue', cursive;
      color: $base-font-color;
      &__description {
        font-size: 15px;
        margin-top: 20px;
        color: $base-font-color;
      }
    }
  }
  &__link-index {
    width: 1200px;
    text-align: center;
    margin: 40px auto;
    &__link {
      font-size: 18px;
      border-radius: 40px;
      background-color: $base-font-color;
      color: $background-color;
      padding: 5px 50px;
      display: block;
      margin: 30px auto;
      width: 300px;
      font-weight: bold;
    }
  }
  &__items {
    width: 1200px;
    text-align: center;
    margin: 40px auto;
    &__new {
      font-size: 50px;
      color: $base-font-color;
      font-family: 'Bebas Neue', cursive;
      margin-top: 70px;
      margin-bottom: 20px;
    }
   }
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
//home.<end>

//index.<start>
.index-contents {
  margin-top: 140px;
  width: 100%;
  &__selectTab {
    margin: 30px auto;
    width: 1200px;
    &__selectCategory {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      &__list {
        width: calc(100%/3);
        display: inline-block;
        &__description {
        margin-left: 80px;
        padding: 4px 0;
        color: $base-font-color;
        }
        &__tag {
        margin-left: 80px;
        padding: 4px 0;
        }
      }
    }
    &__selectBtn {
      padding-top: 20px;
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      background-color: $background-color;
      color: $base-font-color;
      &__btn {
        background: none;
        font-size: 12px;
        color: $base-font-color;
      }
    }
  }
  &__topicPath {
    height: 10px;
    width: 1200px;
    margin: 5px auto;
    color: $base-font-color;
  }
  &__amountProducts {
    height: 10px;
    width: 1200px;
    margin: 10px auto;
    color: $base-font-color;
  }
  &__main {
    width: 100%;
    &__categoryList {
      width: 1200px;
      margin: 0 auto;
      &__innerList {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 50px;
        // overflow: hidden;
        // width: 100%;
        &__innerBox {
          width: calc(100% / 4);
          margin: 15px 0;
          &__image {
            text-align: center;
          }
          &__image:hover {
            opacity: 0.6;
          }
          &__detail {
            text-align: center;
            padding: 0 20px;
            overflow: hidden;
            margin: 8px;
            &__name {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}
select {
  background-color: #fff;
  width: 250px;
  color: $base-font-color;
}
//index.<end>

//show.<start>
.showMain {
  margin-top: 140px;
  width: 100vw;
  color: $base-font-color;
  &__Boxes {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
    &__leftBox {
      width: 40%;
      text-align: right;
    }
    &__rightBox {
      width: 60%;
      text-align: left;
      padding-top: 60px;
      margin-left: 20px;
      &__name {
        font-size: 28px;
        font-weight: bold;
        text-align: left;
      }
      &__namejap {
        text-align: left;
      }
      &__description {
        width: 75%;
        padding-top: 20px;
      }
      &__line {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 70%;
        &__price {
          font-weight: bold;
          font-size: 19px;
        }
        &__fav{
          margin-left: 100px;
          padding-top: 5px;
          &__btn {
            border-style: none;
            font-size: 1.2em;
            background-color: #fff;
          }
        }
      }
      &__addCart {
        height: 40px;
        &__btn {
          background-color: rgb(41, 41, 41);
          color: #fff;
          font-size: 1.1em;
          border-style: none;
          display: block;
          line-height: 40px;
          width: 70%;

        }
      }
    }
  }
  &__suggest {
    width: 1200px;
    margin: 0 auto;
    &__items {
      font-size: 20px;
      padding-top: 20px;
      padding-left: 7px;
      border-top: solid 1px rgb(188, 188, 188);
      margin: 20px 0 40px;
      color: $base-font-color;
    }
  }
}
.comments {
  width: 1200px;
  margin: 60px auto;
  &__title {
    font-size: 18px;
    padding-top: 25px;
    padding-left: 7px;
    border-top: solid 1px rgb(188, 188, 188);
    color: $base-font-color;
  }
  &__each {
    padding: 40px 30px 0 30px;
    &__postTime {
      color: $base-font-color;
    }
    &__content {
      color: $base-font-color;
      display: flex;
      margin: 10px 10px;
      &__nickName {
        color: $base-font-color;
        margin-right: 15px;
      }
    }
    &__text {
      color: $base-font-color;
      margin-left: 10px;
    }
  }
}
.commentForm {
  width: 1200px;
  margin: 0 auto;
  &__title {
    font-size: 18px;
    padding-top: 20px;
    padding-left: 7px;
    border-top: solid 1px rgb(188, 188, 188);
    margin-bottom: 35px;
    color: $base-font-color;
  }
  &__rate {
    padding-left: 10px;
    padding-bottom: 7px;
  }
  &__text {
    padding-left: 10px;
  }
  &__submit {
    padding-left: 10px;
    padding-top: 7px;
    &__btn {
      border-style: none;
      background-color: rgb(55, 55, 55);
      color: #fff;
      padding: 5px 15px;
    }
  }
}
//show.<end>

.fas {
  padding-left: 4px;
}