/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "reset";
 @import "modules/flash";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Amatic+SC:wght@700&family=Anton&family=Bangers&family=Caveat&family=Cherry+Swash:wght@700&family=Corben:wght@700&family=Creepster&family=Economica:wght@700&family=Homemade+Apple&family=IM+Fell+DW+Pica+SC&family=Kaushan+Script&family=Londrina+Shadow&family=Montserrat+Subrayada&family=Oswald:wght@700&family=Permanent+Marker&family=Quicksand&family=Roboto+Condensed:wght@700&family=Teko&family=Vollkorn&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 // 変数（色）----------------
$base-font-color: rgb(51, 51, 51);
$background-color: #fff;
 //-------------------------

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  padding-top: 20px;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: $background-color;
  &__top {
    height: 25px;
    margin-top: 17px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    &__nav {
      display: flex;
      justify-content: flex-end;
      &__search {
        padding: 0;
        &__box {
          border: none;
          border-bottom: solid 1px rgb(156, 156, 156);
          width: 100px;
        }
        &__btn {
          outline: none;
          border: none;
          font-size: 1.03em;
          padding: 0 0;
          color:rgb(58, 58, 58);
          margin-right: 15px;
        }
      }
      &__account {
        padding-right: 15px;
        &__link {
          color:rgb(58, 58, 58);
        }
      }
      &__cart {
        padding-right: 20px;
        &__link {
          color:rgb(58, 58, 58);
        }
      }
    }
  }
  &__middle {
    width: 100%;
    &__site-name {
      font-size: 38px;
      height: 48px;
      text-align: center;
      font-family: 'Montserrat Subrayada', sans-serif;
      margin-top: 20px;
      &__link {
        color: $base-font-color;;
      }
    }
  }
  &__bottom {
    width: 100%;
    &__nav {
      margin-left: 0;
      margin-top: 2px;
      text-align: center;
      margin: 0 auto;
      &__category {
        width: 10%;
        list-style: none;
        display: inline-block;
        margin: 15px auto;
        &__women {
          color: $base-font-color;
        }
        &__men {
          color: $base-font-color;
        }
        &__select {
          color: $base-font-color;
        }
        &__news {
          color: $base-font-color;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  margin-top: 100px;
  background-color: $base-font-color;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  &__menu {
    height: 200px;
    display: flex;
    padding: 30px 30px;
    &__list {
      color: $background-color;
      margin: 0 10px;
    }
  }
}