// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fas {
  padding-left: 4px;
}

 // 変数（色）----------------
 $base-font-color: rgb(51, 51, 51);
 $background-color: #fff;
  //-------------------------

  //home.<start>
.main {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: $background-color;
  overflow: scroll;
  &__top-img {
    background-image: image-url("home-top.jpg");
    background-size: cover;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 70px;
  }
  &__concept {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    &__title {
      font-size: 50px;
      font-family: 'Bebas Neue', cursive;
      color: $base-font-color;
      &__description {
        font-size: 15px;
        margin-top: 20px;
        color: $base-font-color;
      }
    }
  }
  &__link-index {
    width: 1200px;
    text-align: center;
    margin: 40px auto;
    &__link {
      font-size: 18px;
      border-radius: 40px;
      background-color: $base-font-color;
      color: $background-color;
      padding: 5px 50px;
      display: block;
      margin: 30px auto;
      width: 300px;
      font-weight: bold;
    }
  }
  &__items {
    width: 1200px;
    text-align: center;
    margin: 40px auto;
    &__new {
      font-size: 50px;
      color: $base-font-color;
      font-family: 'Bebas Neue', cursive;
      margin-top: 70px;
      margin-bottom: 20px;
    }
   }
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
//home.<end>

//index.<start>
.index-contents {
  margin-top: 140px;
  width: 100vw;
  &__selectTab {
    margin: 30px auto;
    width: 1200px;
    &__selectCategory {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      &__list {
        width: calc(100%/3);
        display: inline-block;
        &__description {
        margin-left: 60px;
        padding: 4px 0;
        color: $base-font-color;
        }
        &__tag {
        margin-left: 60px;
        padding: 4px 0;
        }
      }
    }
    &__selectBtn {
      padding-top: 20px;
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      background-color: $background-color;
      color: $base-font-color;
      &__btn {
        background: none;
        font-size: 12px;
        color: $base-font-color;
      }
    }
  }
  &__topicPath {
    height: 10px;
    width: 1200px;
    margin: 5px auto;
    color: $base-font-color;
  }
  &__amountProducts {
    height: 10px;
    width: 1200px;
    margin: 10px auto;
    color: $base-font-color;
  }
  &__main {
    width: 100vw;
    &__categoryList {
      // padding: 20px;
      width: 1200px;
      margin: 0 auto;
      &__innerList {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        background-color: $background-color;
        width: 100%;
        &__innerBox {
          width: 25%;
          margin: 8px auto;
          &__image {
            text-align: center;
            height: 200px;
          }
          &__image:hover {
            opacity: 0.6;
          }
          &__detail {
            text-align: center;
            padding: 0 20px;
            overflow: hidden;
            margin: 8px;
            &__name {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}

select {
  background-color: #fff;
  width: 250px;
  color: $base-font-color;
}
//index.<end>
