// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fas {
  padding-left: 4px;
}

.main {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  &__top-img {
    background-image: url(home-top.jpg);
    height: 100px;
  }
}

// .main
//   .main__top-img
//   .main__concept
//     .main__concept__describe
//   .main__new-item